* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

#blackHole {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

body {
    overflow: hidden;
}

header {
    background: linear-gradient(to right, black, rgb(0, 0, 75));
    height: 150px;
    display: flex;
    border-bottom: 0.5px solid rgba(164, 85, 255);
    box-shadow:
    0 0 5px rgba(164, 85, 255, 0.5),
    0 0 10px rgba(164, 85, 255, 0.486),
    0 0 20px rgba(164, 85, 255, 0.445),
    0 0 40px rgba(164, 85, 255, 0.479);
}

footer {
    background: linear-gradient(to left, black, rgb(0, 0, 75));
    height: 150px;
    display: flex;
    border-top: 0.5px solid rgba(164, 85, 255);
    box-shadow:
    0 0 5px rgba(164, 85, 255, 0.5),
    0 0 10px rgba(164, 85, 255, 0.486),
    0 0 20px rgba(164, 85, 255, 0.445),
    0 0 40px rgba(164, 85, 255, 0.479);
    position: relative;
    bottom: 15rem;
}

#tFooter {
   color: rgba(255, 255, 255, 0.473);
   font-family: Arial, Helvetica, sans-serif;
   padding-top: 4.2rem;
   padding-left: 28.5rem;
   font-size: 1.6rem;
}

#Coniungantur {
    width: 550px;
    height: 720px;
    transform: translateX(32rem);
    align-self: center;
}

#Github {
    width: 50px;
    height: 50px;
    color: rgba(255, 255, 255, 0.459);
    position: relative;
    left: 43.5rem;
    top: 3.1rem;
}

#Tiktok {
    width: 50px;
    height: 50px;
    color: rgba(255, 255, 255, 0.459);
    position: relative;
    left: 45rem;
    top: 3.1rem;
}

#Github:hover, #Tiktok:hover{
    color: white;
    transition: 1s;
}

.Jogos {
    width: 600px;
    height: 400px;
    position: relative;
    top: 3.7rem;
    left: 13rem;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(164, 85, 255, 0.747);
}

.slides{
    display:flex;
    width:100%;
    height:100%;

    transition: transform 0.6s ease;
}

.slide{
    min-width:100%;
    height:100%;
    position: relative;
}

#pSG, #pSN, #pSJ, #pSP {
    position: absolute;
    color: rgb(255, 255, 255);
    text-shadow: 
    0 40px 120px rgb(0, 0, 0),
    0 40px 120px rgb(0, 0, 0),
    0 40px 120px rgb(0, 0, 0),
    0 40px 120px rgb(0, 0, 0),
    0 40px 120px rgb(0, 0, 0),
    0 40px 120px rgb(0, 0, 0),
    0 40px 120px rgb(0, 0, 0),
    0 40px 120px rgb(0, 0, 0);
    font-style: oblique;
    font-weight: bold;
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    top: 9.4rem;
    left: 9rem;
}

#pSN {
    left: 7.5rem;
}

#pSG {
    left: 8.5rem;
}

#pSJ {
    left: 10rem;
}

#pSP {
    left: 13rem;
}

.slide img{
    width:100%;
    height:100%;
    object-fit:cover;
}

#lArrow, #rArrow{
    background:none;
    border:none;
    outline:none;
    color: rgba(255, 255, 255, 0.411);
    cursor: pointer;
}

#lArrow:hover, #rArrow:hover{
    color: white;
    transition: 1s;
}

#lArrow {
    position: relative;
    top: 17.5rem;
    left: 23rem;
}

#rArrow {
    position: relative;
    top: 17.5rem;
    left: 73rem;
}

#arrow {
    width: 35px;
    height: 35px;
    position: relative;
    right: 18.7rem;
}

.box {
    width: 400px;
    height: 400px;
    background: linear-gradient(to left, black, rgb(0, 0, 75));
    position: relative;
    bottom: 21.29rem;
    left: 67rem;
    border-radius: 20px;
    box-shadow:
    0 0 10px rgba(164, 85, 255, 0.5),
    0 0 20px rgba(164, 85, 255, 0.486),
    0 0 20px rgba(164, 85, 255, 0.445),
    0 0 40px rgba(164, 85, 255, 0.479);
    border: 2px solid purple;
}

#pB {
    color: rgba(255, 255, 255, 0.849);
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.3rem;
    padding-top: 1rem;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 2.5rem
}

#tB {
    color: rgb(185, 111, 255);
    font-style: oblique;
    text-shadow: 0 0 7px purple;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    position: relative;
    top: 1.4rem;
    left: 3rem;
}

#tB::after {
    content: "";

    position: absolute;

    left: 0;
    bottom: -12px;

    width: 65px;
    height: 4px;

    border-radius: 10px;

    background: #c84cff;

    box-shadow: 0 0 4px #c84cff;
}